.git
.gitignore
.github
__pycache__
*.pyc
*.pyo
*.pyd
.venv
venv
.env
.env.local
node_modules
.next
logs
qr_codes
app
lib
public
docker
next-env.d.ts
next.config.ts
package.json
package-lock.json
tsconfig.json
tests
